@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
body {
  background: black;
  color: white;
  font-family: var(--font-poppins);
}
.card-list::-webkit-scrollbar {
  display: none;
}
.hero-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
@media screen and (max-width: 800px) {
  .navbar img {
    height: 25px;
  }
}
@media screen and (max-width: 500px) {
  .navbar img {
    height: 20px;
  }
}
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-barlow: "Barlow", sans-serif;
  --breakpoint-sm: 500px;
  --breakpoint-md: 800px;
}
@layer {
  .icons {
    @apply w-5 cursor-pointer;
  }
  .input {
    @apply w-full h-[50px] bg-[#333] text-white text-base font-medium my-3 mx-0 border-0 outline-0 rounded-sm py-4 px-5 placeholder:text-base placeholder:font-medium;
  }
  .nav-dark {
    @apply bg-[#141414];
  }
}
